<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>This form is created by HTML code</h1>
    <form action="" method="post">
      <label for="user_name">Full Name</label>
      <input type="text" name="user_name" value="muzahid" required>
      <br>
      <label for="user_email">User Email</label>
      <input type="email" name="user_email" value="" required>
      <br>
      <input type="submit" name="submit" value="submit">
    </form>

    <hr>

   <h1>{{ heading_for_Djano }}</h1>

   <form action="" method="post">
     {{ Djano_form }}
   </form>

  </body>
</html>
